<div class="header">
  <div class="header-text">
    <h1>
      Hello <br>
      Gruass di <br>
      Hoi <br>
      <br>
      <strong> I am Fabienne</strong>
    </h1>

  </div>
  <div class="header-image">
    <img src="/assets/Fabi.png">
  </div>
</div>
